body 
{
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a 
{
  color: #00B7FF;
}

footer 
{
  align-items: center;
  padding: 30px 0 0 0;
  font-size: 14px;
  background: #fff;
}

.content 
{
  margin-top: 10px;
  padding: 5px 60px 5px 60px;
  display: block;
  margin: 10px 50px;
  text-align: left;
  text-indent:50px;
}

.t1 
{
  font-size: 14px;
  margin-bottom: 20px;
}